*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

html,
body{
    display: grid;
    height: 100%;
    place-items: center;
    background-color: black;
}

.clock{
    height: 140px;
    width: 360px;
    position: relative;
    background: linear-gradient(135deg, aqua, yellow, rgb(244, 4, 164));
    border-radius: 10px;
    cursor: default;
    animation: animate 2s linear infinite;
    margin-left: 10px;
    margin-right: 10px;
}
.clock .display,
.clock span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.clock .display{
    z-index: 999;
    height: 110px;
    width: 345px;
    background: #1b1b1b;
    border-radius: 10px;
    text-align: center;
    padding-top: 16px;
}
.display #time,
.display #date{
    line-height: 55px;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #14ffe9, #ddeb3b, #ff00e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 2s linear infinite;
}
.display #time{
    font-size: 70px;
}
.display #date{
    font-size: 20px;
}
.display #time {
    background: linear-gradient(135deg, #14ffe9, #ddeb3b, #ff00e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes animate {
    100%{
        filter: hue-rotate(360deg);
    }
}

.clock span {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: inherit;
}
.clock span:first-child{
    filter: blur(7px);
}
.clock span:last-child{
    filter: blur(20px);
}
